*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
background-color: aquamarine;
padding: 20px 0;
}

.center{
    background-color: pink;
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.logo{
width: 50%;
margin: ;
}

.menu{
    width: 50%;
    text-align: right;
}